.catalog{
  padding: 30px 0 100px;

  &__row{
    display: flex;
    column-gap: 70px;
    align-items: center;
  }

  &__title{
    font-weight: 300;
    font-size: 20px;
    color: #252525;
  }

  &__size{
    display: flex;
    column-gap: 34px;

    &-link{
      display: flex;
      column-gap: 9px;
      align-items: center;font-weight: 300;
      font-size: 16px;
      color: #252525;
    }
  }

  &__product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin-top: 30px;
    
    &-left{

     &__list{
       display: flex;
       flex-direction: column;
       row-gap: 20px;

       &-link{
         font-weight: 300;
         font-size: 16px;
         color: #252525;
         width: 150px;
       }
     }
    }

    &-right{
      display: flex;
      gap: 30px 7px;
      flex-wrap: wrap;

      &__card{
        width: calc(33.33333% - 5px);
      }
    }
  }
}