.category {
  padding: 120px 0;

  &__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #252525;
  }

  &__text {
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;
    color: #252525;
    margin-top: 15px;
  }

  &__row {
    display: flex;
    column-gap: 10px;
    margin-top: 50px;
    justify-content: center;
  }

  &__card {
    width: calc(25% - 2.5px);
    text-align: center;
    position: relative;

    &-img {
      position: relative;
      z-index: 5;
    }
  }

  &__img{
    width: 300px;
    height: 350px;
  }

}