.sms{
  padding: 100px 0;
  text-align: center;

  &__title{
    font-weight: 300;
    font-size: 36px;
    color: #252525;
  }

  &__form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px auto 20px;
    max-width: 600px;

    &-input{
      padding: 16px 215px;
      text-align: center;
      border: .5px solid #252525;
      font-weight: 200;
      font-size: 16px;
    }

    &-btn{
      font-weight: 300;
      font-size: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 16px 239px;
      background: #E0BEA2;
      border: 1px solid #E0BEA2;
    }

    &-text{
      font-weight: 200;
      font-size: 16px;
      color: #252525;
    }
  }
}